<?xml version="1.0" encoding="UTF-8"?>  
<beans xmlns="http://www.springframework.org/schema/beans"  
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"  
       xmlns:context="http://www.springframework.org/schema/context"  
       xmlns:mvc="http://www.springframework.org/schema/mvc"  
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd    
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd  
        http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd">  
   <!--开启springmvc注解模式-->
    <!--
        1、自动注册DefaultAnnotationMapping、AnnotationHandlerAdapter
        2、提供一系列：数据绑定，数字和日期的farmat @NumberFormat @DateTimeFormat
        3、xml、json默认读写支持
    -->
   <mvc:annotation-driven />  
   
   <!-- 注意：FreeMarker与SpringMVC集成时，其配置一定要放在SpringMVC的配置之前 -->  
    <!-- 否则：在访问"/getUser"时服务器就会报告[HTTP Status 404 - /WEB-INF/jsp/myfree.jsp] -->  
    <bean id="freemarkerConfig" class="org.springframework.web.servlet.view.freemarker.FreeMarkerConfigurer">  
        <!-- 指定FreeMarker模板文件目录   -->
        <property name="templateLoaderPath" value="/"/>
        <property name="defaultEncoding" value="UTF-8"/>
        <!--<property name="freemarkerVariables">
            <map>
                <entry key="suffix" value=".htm"/>
            </map>
        </property>-->
    </bean>  
    
   <!--扫描web相关的bean-->
   <context:component-scan base-package="com.run.auth.controller"/>  
   
   <!--servlet-mapping 映射路径：/-->
    <!--静态资源默认servlet配置
    1、加入对静态的处理
    2、允许使用/做整体映射
    -->
    <mvc:default-servlet-handler/>

    <!--freemaker配置-->
   <!-- <bean id="freemakerConfigurer"
            class="org.springframework.web.servlet.view.freemarker.FreeMarkerConfigurer">
        <property name="templateLoaderPath" value="/"/>
        <property name="defaultEncoding" value="UTF-8"/>
        <property name="freemarkerSettings">
            <props>
                <prop key="template_update_delay">10</prop>
                <prop key="locale">zh_CN</prop>
                <prop key="number_format">#.##</prop>
            </props>
        </property>

        <property name="freemarkerVariables">
            <map>
                <entry key="suffix" value=".htm"/>
            </map>
        </property>

    </bean>-->
      
    <bean id="viewResolver" class="org.springframework.web.servlet.view.freemarker.FreeMarkerViewResolver">  
        <property name="prefix" value="/ftl/"/>
        <property name="suffix" value=".ftl"/>  
        <property name="contentType" value="text/html; charset=UTF-8"/>
        <property name="exposeRequestAttributes" value="true" />
        <property name="exposeSessionAttributes" value="true" />
        <property name="exposeSpringMacroHelpers" value="true" />
        <property name="requestContextAttribute" value="request" />
        <property name="cache" value="true" />
        <property name="order" value="0" />
    </bean>  
    
    <!-- 访问"/getUserName"时服务器发现找不到/WEB-INF/ftl/username.ftl，于是它就到这里来找了，结果自然是找到了 -->  
    <bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">  
        <property name="prefix" value="/"/>  
        <property name="suffix" value=".html"/>  
    </bean>  
</beans>